@import "../../vars.css";
.container {
    margin-top: 50px;
    color: var(--color-text);
    margin-left: 10%;
    margin-right: 10%;
}

.title {
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1.75px;
    text-transform: uppercase;
}

.projects {
    margin-top: 37px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 100%;
}

.project {
    flex-direction: column;
    display: flex;
    border-radius: 10px;
    background: linear-gradient(180deg,#86868693 0%,#212121 50%);
    box-shadow: 0 10px 8px 0 rgb(0, 0, 0);
    padding: 18px 24px;
    max-width: 345px;
}

.image {
    margin-bottom: 26px;
}

.projecttitle {
    font-size: 25px;
    font-weight: 700;
}

.projectdescription {
    margin-top: 6px;
    font-size: 25px;
    font-weight: 400;
    height: 100px; /* Set a fixed height */
    overflow-y: auto; /* Enable vertical scrolling */
    scrollbar-width: none; /* For Firefox */
    scrollbar-color: #888 #333; /* For Firefox */
}


.skills {
    width: 100%;
    margin-top: 14px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 6px;
    list-style: none;
    overflow-x: auto;
    scrollbar-width: none; /* For Firefox */
    scrollbar-color: #888 #333;
}

.skill {
    font-size: 25px;
    font-weight: 400;
    border-radius: 50px;
    background: #444343;
    padding: 4px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
}

.links {
    width: 100%;
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
}

.link {
    display: inline-block;
    background-color: var(--color-text); /* Adjust for contact button */
    color: var(--color-primary);
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding: 12px 24px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

@media screen and (max-width: 830px) {
    .container {
        margin-top: 30px;
    }
    .projectdescription {
        height: auto;
        font-size: 15px;
        font-weight: 300;
    }
    .title {
        font-size: 30px;
        font-weight: 600;
        letter-spacing: 1.50px;
    }

    .project {
        max-width: 280px;
    }
    .projecttitle {
        font-size: 20px;
        font-weight: 500;
    }
    .skills {
        margin-top: 10px;
        gap: 6px;
    }
    .skill {
        font-size: 18px;
        font-weight: 300;
    }
    .link {
        font-size: 15px;
    }
}
