@import "../../vars.css";

.container {
    background-color: var(--color-secondary);
    color: var(--color-text);
    display: flex;
    margin-top: 60px;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    padding: 58px 10%;
    gap: 30px;
    align-items: center;
    text-align: center;
}

.contact h3{
    font-size: 100px;
    font-weight: 700;
    letter-spacing: 2px;
}

.contact p {
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 2px;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
    gap: 26px;
}

.link {
    display: flex;
    align-items: center;
    gap: 25px;
    justify-content: center;
}

.link a {
    color: var(--color-text);
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1.5px;
}

@media screen and (max-width: 830px) {
    .container {
        flex-direction: column;
        gap: 20px;
        margin-top: 10%;
    }
    .text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .links {
        align-items: center;
    }

    .contact h3{
        font-size: 50px;
        font-weight: 500;
        letter-spacing: 1px;
    }

    .contact p {
        font-size: 20px;
        font-weight: 200;
        letter-spacing: 1px;
    }
    .links {
        gap: 15px;
    }

    .link {
        gap: 10px;
    }
    .link img {
        width: 20px;
        height: 20px;
    }

    .link a {
        font-size: 10px;
        font-weight: 200;
        letter-spacing: 1px;
    }
}






